@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

* {
  font-family: 'Outfit', sans-serif;
}

@theme {
  --color-primary: #1a202c;
  --color-primary-dull: #2d3748;
  --color-light: #edf2f7;
  --color-secondary: #2d3748;
  --color-accent: #4a5568;
  --color-background: #f7fafc;
  --color-text: #2d3748;
  --color-border-color: #cbd5e0;
}